html, body{
   margin: 0;
   padding: 0; 
}
html{    
   font-size: 18px;
}
body{
   font-family: 'Open Sans', sans-serif;
}
a{
   border-bottom: 4px solid #111;
   color: #fff;   
}
a:hover{
   color: #fff; 
   text-decoration: none;  
}
h2{
   font-size: 44px;
   font-weight: 600;
   line-height: 37px;
   text-align: center;
}
hr{
   background-color: #fcac45;
   border: none;
   height: 4px;
   margin-top: 30px;
   width: 98px;
}
.paragraph{
   color: #6c6c6c;
   font-size: 16px;
   font-style: italic;
   font-weight: 400;
   line-height: 24px;
   margin: 52px 0 102px 0;
}
.fas.fa-bars{
   color: #fff;
}
.navbar{
   color: #fff;
   background: #000;
   font-size: 14px;
   font-weight: 700;
   line-height: 24px;
   padding: 53px 110px 30px 180px;
}
.navbar-brand{
   font-size: 24px;
   font-weight: 800;
   text-decoration: none;
}
.navbar-brand:hover{
   color: #fcac45;
}
.items{
   padding-bottom: 12px;
   margin: 0 18px;
   position: relative;
   transition: all 0.6s;
}
.items:before {
   content: "";
   width: 0;
   height: 0.2rem;
   position: absolute;
   bottom: -3px;
   left: 0;
   background: #fff;
   transition: all 0.3s;
}
.items:hover:before{
   width: 100%;
   left: 0;
   background: #fcac45;
}
.active{
   border-bottom: 4px solid #fcac45;
}
.welcome{
   color: #8E8E8E;
   background: #000;
   height: 581px;
   line-height: 37px;
   padding: 161px 10px 0 10px;
   text-align: center;
}
.large_font{
   font-size: 44px;
   font-weight: 300;
   letter-spacing: -2px;
}
.orange{
   color: #fcac45;
   font-weight: 800;
}
.welcome p{
   color: #999999;
   font-size: 20px;
   font-weight: 400;
   letter-spacing: -1px;
}
.welcome p span{
   color: #C3C3C3;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: -1px;
}
.about{
   padding: 100px 0px;
}
.left_side{
   text-align: right;
   padding-right: 30px;
}
.right_side{
   padding-left: 150px;
}
.right_side h2{
   color: #222222;
   border-bottom: 4px solid #fcac45;
   display: inline-block;
   font-size: 34px;
   font-weight: 400;
   letter-spacing: -1px;
   line-height: 37px;
   padding: 20px 0;
   text-align: left;
}
.right_side h2 span{
   font-weight: 700;
}
.right_side p{
   color: #6c6c6c;
   font-size: 18px;
   font-weight: 400;
   letter-spacing: -1px;
   line-height: 25px;
   margin: 20px 0 40px 0;
   width: 80%;  
}
.right_side ul{
   list-style-image: url(img/mark.png);
   padding-left: 20px;
}
.right_side li{
   color: #5a5a5a;
   font-size: 18px;
   font-weight: 600;
   letter-spacing: 0px;
   line-height: 25px;
   text-align: left;
}
.right_side li span{
   font-size: 16px;
   font-style: italic;
   font-weight: 400;
}
.team{
   background: #070707;
   color: #fff;
   padding-bottom: 145px;
   padding-top: 100px;
}
.team_card{
   background: #000;
   color: #fff; 
   display: inline-block;
   padding-top: 100px;
   text-align: center;
}
.photo img{
   border-radius: 50%;
}
.name{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   margin-top: 22px;
}
.position{
   font-size: 16px;
   font-weight: 400;
   line-height: 24px; 
}
.information{
   font-size: 14px;
   font-weight: 400; 
   line-height: 24px;
   margin-top: 36px;
}
.our_service {
   color: #222222;
   padding: 100px 0;
   text-align: center;
}
.service{
   background: url(img/Forma.png) top center no-repeat;
   padding-top: 35px;
}
.circle{
   padding-bottom: 7px;
}
.service h4{
   font-size: 25px;
   font-weight: 600;
   line-height: 24px;
   margin-top: 50px; 
}
.service p{
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
}
.clients{
   background: #0B0B0B;
   color: #fff;
   padding: 100px 0px 192px 0px;
}
.clients span, .work span, .testimonials span{
   font-weight: 300;
}
.brand{
   padding-top: 110px;
}
.brand img{
   padding: 15px;
}
.work{
   padding: 100px 0 85px 0;
   color: #222222;
   text-align: center; 
}
.work-img{
   position: relative;
}
.img-layer{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(255, 255, 255, 0.6);
   display: flex;
   align-items: center;
   justify-content: center;
   visibility: hidden;
   opacity: 1;
}
 .text{
   color: #fcac45;
   font-size: 1.5rem;
   font-weight: 800;
   padding: 0 15px;
   transform: translateY(1em);

   transition: all .3s ease-in-out;
}
.work-img:hover .img-layer{
   visibility: visible;
}
.work-img:hover .text{
   transform: translateY(0)
}
.img-fluid{
   padding-bottom: 30px;
}
.work-img:hover{
   transform: scale(1.1, 1.1);
   transition: all .3s ease-in-out;
}

.testimonials{
   background: #0B0B0B;
   color: #fff;
   font-size: 18px;
   line-height: 24px;
   padding-bottom: 170px;
   padding-top: 95px;
   text-align: center; 
}
.test{
   color: #e7e7e7;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 24px;
   margin: 115px 0 50px 0;
}
.sign{
   color: #b2b2b2;
   font-style: normal;
   font-weight: 600;
}
.sign span{
   font-weight: 300;   
}
.contact{
   color: #222222;
   margin-bottom: 170px;
   padding-top: 95px;
   text-align: center;   
}
form{
   text-align: left;
}
.form-control{
   border-radius: 0;
}
label{
   color: #636363;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
}
.star{
   color: #DB332E;   
}
.btn{
   display: inline-block;
   background-color: #fcac45;
   border-radius: 0%;
   border: 3px solid #fcac45;
   color: #ffffff;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 3px;
   margin-top: 15px;
   padding: 10px 55px;
}
.btn:active,
.btn:hover
{
   box-shadow: inset 9.5rem 0 #fff;
   color: #fcac45;
}

.scroll_top {
   position: fixed;
   bottom: -50px;
   right: 20px;
   width: 50px;
   height: 50px;
   border: none;
   border-radius: 50%;
   background: #fcac45;
   z-index: 100; 
   outline: none; 
   cursor: pointer;
   transition: 0.4s; 
}
.scroll_top:after {
   content: "";
   width: 12px;
   height: 12px;
   border-top: 2px solid #000; 
   border-left: 2px solid #000; 
   transform: rotate(45deg); 
   position: absolute;
   top: 7px;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}
.scroll_top.show{
   bottom: 30px;
}
.scroll_top:show, .scroll_top:focus
{
   outline: none; 
}

footer{
   background-color: #222222;
   color: #fff;
   line-height: 90px;
   text-align: center;
}
.social{
   padding: 0 6px;
}
.social img:hover{
   color: red;
   transform: scale(1.2, 1.2)
}

@media (max-width: 991px) {
   .navbar{
      padding: 58px 20px 30px 30px;
   }  
   .left_side, .right_side{
      padding: 0 20px;
   }
   .right_side h2{
      text-align: center;
   }
   .right_side p{
      width: 100%;
   }
}